{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
 
  <title>Document</title>
</head>
<body class="bg-body-tertiary">
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm" > 
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="{% static 'logo/logo-bpjs.png' %}" alt="" width="300" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enkripsi' %}">Enkripsi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'dekripsi' %}">Dekripsi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'enkripsiHistory' %}">Enkripsi history</a></li>
              <li><a class="dropdown-item" href="{% url 'dekripsiHistory' %}">Dekripsi history</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="{% url 'logout' %}" class="btn btn-primary">logout </a>
    </div>
  </nav>

  <div class="container">

    <div style="width: 50%;" class="m-auto mt-5 shadow rounded">
      {% for message in messages %}
          {% if message.tags %}
            <div class="alert alert-danger">{{message}}</div>
          {% endif %}
        {% endfor %}

        {% if user.is_authenticated and user.is_staff %}
        <form enctype="multipart/form-data" action="{% url 'dekripsi' %}" method="POST">
          {% csrf_token %}
            <h1 class="h3 mb-5 fw-normal py-2" style="text-align: center;">Dekripsi File</h1>
            <div class="form-floating mx-3 mb-3">
              <input type="text" class="form-control" id="floatingPassword" placeholder="Kunci" name="namafile" required>
              <label for="floatingPassword">Nama File</label>

          </div>
            <div class="mb-3 mx-3">
                <input class="form-control" type="file" id="formFile" name="fil" required>
            </div>
            <div class="form-floating mx-3 mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Kunci" name="kunci" required>
                <label for="floatingPassword">Kunci</label>

            </div>
            <button type="submit" class="btn btn-primary mx-3 mb-5">Submit</button>
        </form>
        {% endif %}
        
    </div>
  </div>
</body>
</html>