{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
 
  <title>{{name}}</title>
</head>
<body class="bg-body-tertiary">
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm" > 
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logo/logo-bpjs.png' %}" alt="" width="300" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>

          {% if not user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'transferFiles' %}">Transfer file</a>
          </li>    
          {% endif %}

          {% if user.is_authenticated and user.is_superuser%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dekripsi' %}">Dekripsi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dekripsiHistory' %}">Dekripsi history</a>
          </li>      
          {% endif %}
          {% if not user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'transferFileHistory' %}">transfer file history</a>
          </li>
          {% endif %}

        </ul>
      </div>
      <a href="{% url 'logout' %}" class="btn btn-primary">logout </a>
      {% if user.is_authenticated %}
      <p class="px-3 mt-3" style="align-items: center; ">{{ user.username }}</p>
      {% endif %}
    </div>
  </nav>

  {% if user.is_authenticated and user.is_staff %}
  <div class="container table-responsive">
    <h1 class="py-3">Transfer file history</h1>
    <table class="table shadow table-bordered table-striped">
        <thead>
          <tr>
            <th>nama file</th>
            <th>keterangan</th>
            <th>file</th>
            <th>User</th>
            <th>size</th>
            <th>uploaded at</th>
            {% if user.is_authenticated and user.is_staff%}
            <th>download</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% if files %}
            {% for file in files %}
          <tr>
            <td>{{file.document}}</td>
            <td>{{file.keterangan}}</td>
            <td>{{file.fi}}</td>
            <td >{{file.encrypted_by}}</td>
            <td>{{file.size|filesizeformat}}</td>
            <td>{{file.uploaded_at}}</td>
            {% if user.is_authenticated and user.is_staff%}
            <td style="text-align: center;">
                <a href="{{file.fi.url}}" download class="btn btn-primary ">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Interface / Download">
                        <path id="Vector" d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                </a>
            </td>
            {% endif %}
          
            
            
            
          </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
  </div>
  {% if not files %}
    
    <h3 class="container text-secondary">tidak ada data</h3>
  {% endif %}


  {% elif not user.is_superuser %}
  <div class="px-4 py-5 my-5 text-center" >
    {% if user.is_authenticated %}
    <h1 class="display-5 fw-bold text-body-emphasis">Selamat datang, {{ user.username }}!</h1>
    {% endif %}
  </div>
  {% endif %}

  
</body>
</html>